.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  font-family: inherit;
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.Editor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: rgb(226, 37, 255);
  color: white;
  border-radius: 5px;
}
